body {
  color: white;
  text-shadow: 2px 2px black;
  background-color: black;
  background-image: url(Chuck1.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.container, h1{
  position:relative;
  z-index: 99;
}

.title {
  background-color: ;
  padding:20px 20px 20px 100px;
  margin: 50px;
  z-index: 99;
}
form {
  color: black;
  padding: 30px;
}

p {
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.jL {
  font-size: 35px;
}
